.skillsDiv {
  height: auto;
  width: 100%;
  background-color: #f6f5f5;
  padding: 5%;
  padding-top: 10%;
}

.box {
  height: auto;
  margin-top: 2em;
  background-color: #fff;
  transition: all 0.4s ease;
  cursor: default;
}

.skillImage {
  height: 3em;
  width: 3em;
  margin-top: 5%;
}

.firstBox::after,
.fourthBox::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 5;
  top: 15%;
  width: 2px;
  height: 70%;
  background: #77b7ff;
}

.skillTitle {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 6%;
}

.skillDesc {
  margin-top: 5%;
  letter-spacing: 1px;
  display: none;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1025px) {
  .skillsDiv {
    padding-top: 5%;
  }
  .box {
    margin-right: 1.8em;
    /* height: 17em; */
    height: auto;
  }
  .firstBox {
    margin-left: 1.8%;
  }
  .skillImage {
    height: 6em;
    width: 6em;
    margin-top: 12%;
  }

  .skillTitle {
    margin-top: 22%;
    font-size: 1.7em;
  }

  .skillDesc {
    margin-top: 15%;
  }

  .box:hover {
    box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  }
  .firstBox::after,
  .fourthBox::after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 5;
    top: 0%;
    width: 0px;
    height: 0%;
    background: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .box {
    margin-right: 2.5em;
    height: auto;
  }
  .firstBox {
    margin-left: 2.3%;
  }

  .skillTitle {
    margin-top: 15%;
  }

  .skillDesc {
    margin-top: 13%;
  }
}
