.pageTitleDiv {
  position: relative;
  background-image: url(./Images/image_3.jpg);
  height: 12em;
  width: 100%;
  /* top: 4em; */
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.pageTitleDivBg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  padding-top: 30%;
  text-align: center;
}

.pageTitleDiv h3 {
  font-size: 1.8em;
  font-weight: 600;
  color: #10285d;
  color: black;
  color: #fff;
}

@media screen and (min-width: 400px) {
  .pageTitleDiv {
    height: 13em;
  }
}

@media screen and (min-width: 480px) {
  .pageTitleDivBg {
    padding-top: 23%;
  }
}

@media screen and (min-width: 600px) {
  .pageTitleDivBg {
    padding-top: 19%;
  }
}

@media screen and (min-width: 800px) {
  .pageTitleDiv {
    height: 15em;
    background-image: url(./Images/bgimage.jpg);
  }
  .pageTitleDivBg {
    padding-top: 16%;
  }
}

@media screen and (min-width: 1025px) {
  .pageTitleDiv {
    background-image: url(./Images/bgimage.jpg);
    height: 20em;
  }
  .pageTitleDivBg {
    padding-top: 14%;
  }
}

@media screen and (min-width: 1280px) {
  .pageTitleDiv {
    height: 21em;
  }
  .pageTitleDivBg {
    padding-top: 11%;
  }
}
