.navigationDiv {
  display: none;
}

@media screen and (min-width: 1025px) {
  .navigationDiv {
    display: block;
    width: 72%;
    margin-top: -0.8%;
    margin-top: 0;
    padding-top: 0;
  }
  .navigation {
    width: 100%;
    margin-left: 16%;
  }
  .navigationLi a {
    color: black;
    font-size: 1.1em;
    font-weight: 600;
  }
  .navigationLi,
  .CV {
    display: inline-flex;
    margin-left: 6%;
  }

  .navigationLi {
    padding-top: 0%;
    width: 10%;
  }

  .contactLi {
    width: 13%;
  }

  .navigationLi a {
    cursor: pointer;
    text-decoration: none;
    /* transition: all 0.1s ease-in-out; */
  }

  .navigation a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: relative;
    background: #0075f6;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navigation a:hover:after {
    width: 100%;
    left: 0;
  }
  .navigationLi .active:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0%;
    position: relative;
    background: #0075f6;
    width: 100%;
  }
  .cvBtn {
    background: #4876ff;
    background: #ef7b75;
    background: #ec5b53;
    background: #ed6b64;
    background: #1982f6;
    color: black;
    color: #fff;
    padding: 14px 30px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid transparent;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
  }
  /* .cvBtn:hover {
    background: #ec5b53;
  } */
  .cvBtn:focus {
    outline: none;
  }
}

@media screen and (min-width: 1280px) {
  .navigationDiv {
    width: 89%;
  }
  .navigation {
    margin-left: 38%;
    width: auto;
  }

  .navigationLi {
    width: 8%;
  }

  .navigationLi,
  .CV {
    margin-left: 5%;
  }
  .contactLi {
    width: 13%;
  }
}
