.header {
  width: 100%;
  height: 4em;
  background-color: black;
  z-index: 1000;
  position: absolute;
  display: inline-flex;
}
.scrolledHeader {
  width: 100%;
  height: 4em;
  background-color: black;
  z-index: 1000;
  position: fixed;
  display: inline-flex;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.3);
  transition: all 0.3s ease;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1025px) {
  .header {
    background-color: transparent;
    height: 5em;
    padding-top: 1%;
  }
  .scrolledHeader {
    width: 100%;
    height: 5em;
    background-color: #fff;
    padding-top: 1%;
    /* box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1); */
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); */
  }
}

@media screen and (min-width: 1280px) {
}
