.categoryBtnMain {
  padding: 0%;
  margin-top: 0%;
  margin-left: 5%;
  width: 13.1em;
  /* border: 1px solid green; */
  /* display: inline-flex; */
}

.categoryBtn {
  margin-top: 1%;
  font-size: 0.9em;
  color: #10285d;
  color: #989898;
  /* border: 1px solid black; */
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 2.5%;
  padding-left: 5%;
  width: 100%;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-flex;
}
.categoryLabel {
  width: 6em;
}
.categoryValue {
  cursor: pointer;
  /* border: 1px solid red; */
  padding-left: 1%;
  width: 7.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.categoryValue,
.caretDown {
  color: #77b7ff;
}
.caretDown {
  margin-left: 5%;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1025px) {
  .categoryBtnMain {
    width: 14.3em;
  }
  .categoryBtn {
    font-size: 1em;
  }
}

@media screen and (min-width: 1280px) {
}
